* {
    border: none;
    border-radius: 50px;
    font-family: "SF Pro Rounded", "JetBrainsMono Nerd Font Propo", sans-serif;
    font-size: 14px;
    font-weight: 700;
    min-height: 0;
		margin: 0;
		padding: 0;
}

window#waybar {
    background: transparent;
}

tooltip {
  background: #1C1917;
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: white;
}

#workspaces {
		font-weight: 700;
}

#workspaces button {
    padding: 5px 15px;
		margin: 0 4px;
    background: #1C1917;
    color: #6099C0;
		border-radius: 50px;
		font-weight: 700;
}

#workspaces button.active{
    min-width: 20px;
		background: #1C1917;
		color: #6099C0;
		border-radius: 50px;
	  font-weight: 700;
}

#clock {
	  background-color: #1C1917;
    color: #DE6E7C;
		font-weight: 700;
		padding: 5px 15px;
		margin: 0 4px;
		border-radius: 50px;
}

#battery {
    background-color: #1C1917;
    color: #819B69;
		font-weight: 700;
		padding: 5px 15px;
		margin: 0 4px;
		border-radius: 50px;
}

#pulseaudio {
    background-color: #1C1917;
    color: #B77E64;
		font-weight: 700;
		padding: 5px 15px;
		margin: 0 4px;
		border-radius: 50px;
}

#network {
    background-color: #1C1917;
    color: #B279A7;
		font-weight: 700;
		padding: 5px 15px;
		margin: 0 4px;
		border-radius: 50px;
}

#tray {
    padding: 5px 15px;
    background-color: #1C1917;
    color: #A89984;
		border-radius: 50px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
    background-color: #1C1917;
    color: #A89984;
		border-radius: 50px;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #1C1917;
    color: #A89984;
		border-radius: 50px;
}
